*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}


body
{
    color: #ededed;
    background: #1b176e;
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051a44;
    box-shadow: #0ef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 10px #03102c;
    z-index: 100;
}

.logo
{
    position: relative;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;

}

.navbar a {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    text-decoration: none;  
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.navbar a:hover
{
    color: #00b7ff;
}

.home
{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(img/Desktop\ perfil\ 01.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;  
    align-items: center;
    padding: 70px 10% 0;   
}

.home-content
{
    max-width: 600px;
}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;  
    opacity: 0;  
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: #00b7ff;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    color: #00b7ff;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content p {
    font-size: 20px;
    line-height: 1.5;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00b7ff;
  border-radius: 50%;
  font-size: 20px;
  color: #00b7ff;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 1s ease;
  opacity: 0;
  transform: translateX(-40px);
}

.home-sci a.active {
  opacity: 1;
  transform: translateX(0);
}


.home-sci a:hover
{
    background: #00b7ff;
    color: #081b29;
    box-shadow: 0 0 20px #00b7ff;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #00b7ff;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;    
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #00b7ff,
    0 0 10px #00b7ff
}

.btn-box:hover
{
    box-shadow: 0 0 5px blue,
    0 0 25px blue, 0 0 50px blue,
    0 0 100px blue, 0 0 150px blue;
    
}

.about
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img {
    padding-bottom: 10%;
    max-width: 500px;
    height: auto;
    width: 100%;
    border-radius: 8px;
    margin-left: 80px;
    margin-top: 80px;
}

.about-text h2 {
    font-size: 60px; 
}

.about-text h2 span {
    color: #00b7ff;
}   

.about-text h4 {
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;   
}

.about-text p {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
  max-width: 700px;
}

#services {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}

.sub-title span {
    color: #00b7ff;
}   

.container {
    padding: 90px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
   background-color: transparent;
   padding: 40px;
   font-size: 13px;
   font-weight: 13px;
   border-right: 10px;
   border-radius: 20px;
   transition: background 0.5s transform 0.5s;
   box-shadow: 1px 1px 20px #012290f7,
               1px 1px 40px #0053b8f7;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
   text-decoration: none;
   color: #000000;
   font-size: 12px;
   margin-top: 20px;
   display: inline-block;
}

.read {
  display: inline-block;
  padding: 12px 28px;
  background: #00b7ff;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 700;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease;
  box-shadow: 0 0 5px #00b7ff, 0 0 10px #016288;
}
.read.active {
  opacity: 1;
  transform: translateY(0);
}



.read:hover
{
    box-shadow: 0 0 5px blue,
    0 0 25px blue, 0 0 50px blue,
    0 0 100px blue, 0 0 150px blue;
}

.services-list div:hover {   
    transform: translateY(-10px);  
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}


.skills-wrapper {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  gap: 60px; 
  flex-wrap: wrap; 
  margin-top: 40px;
}

.container1, .container2 {

  padding: 20px;
  border-radius: 10px;
  width: 45%; 
  min-width: 500px; 
}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px; ;
    margin-bottom: 50px;
}

.heading1 span {
    color: #00b7ff;
}

.bar {
    font-size: 23px;
    padding: 20px;
}

.Technical-bars .bar {
    margin-top: 40px 0;
}

.Technical-bars .bar:first-child {
    margin-top: 0;
}

.Technical-bars .bar:last-child {
  margin-bottom: 0 ;
}

.Technical-bars .bar .info {
  margin-bottom: 5px;
}   

.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #09f372;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 1s cubic-bezier(1, 0, 0, 1);
}

.Technical-bars .bar .progress-line.active {
  transform: scaleX(1);
}


.Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: #00b7ff;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;  
    transition: transform 2s cubic-bezier(1,0,0,1);
}

.Technical-bars .bar .progress-line.active span {
  transform: scaleX(1);
}



.progress-line.designer span {
    width: 100%;
}
.progress-line.thinking span {
    width: 100%;
}
.progress-line.prototipagem span {
    width: 100%;
}
.progress-line.figma span {
    width: 100%;
}
.progress-line.frontend span {
    width: 100%;
}

.progress-line span::after {
  position: absolute;
  padding: 1px 8px;
  background-color: #005007;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  top: -28px;
  right: -20px;
  opacity: 0;
  transition: opacity 0.7s ease 0.6s;
}

.progress-line.active span::after {
  opacity: 1;
}
.progress-line.designer  span::after {
    content: "\2714";
}
.progress-line.thinking span::after {
    content: "\2714";
}
.progress-line.prototipagem ::after {
    content: "\2714";
}
.progress-line.figma span::after {
    content: "\2714";
}
.progress-line.frontend span::after {
    content: "\2714";
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}


.path {
    stroke-width: 10;
    stroke: #00b7ff;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}


.main-text{
    padding-top: 130px;
    margin-top: 200px;
}

.main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
   
}

.main-text h2 span {
    color: #00b7ff;
}

/* projetos */

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(393px, auto));
    gap: 40px;
    margin-top: 30px;
}

.row { 
    display: flex;          
    justify-content: center; 
    gap: 20px;              
    flex-wrap: wrap;        
}

.row img{
    width: 100%;
    height: auto;
    border-radius: 8px ;
    display: block;
    transition: transform 1s;
}

.portfolio-content .row {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease;
}

.portfolio-content .row.active {
  opacity: 1;
  transform: translateY(0);
}



.layer{
    width: 100%;
    height: 0;
    background: #00b7ff;
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 1s;
}

.layer h5{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p{
    color: #000;
    font-size: 1rem;
    line-height: 1.5;
}

.layer i{
    color: #ff004f;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover .layer{
    height: 100%;
}


.contact{
    text-align: center;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}

.contact-text h2{
    font-size: 70px;
    line-height: 1;
    text-align: center;
    
}

.contact-text h2 span{
    color: #00b7ff;

}

.contact-text h4{
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}

.contact-text p{
    text-align: left;
    color: rgb(177, 177, 177);
    max-width: 960px; 
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list{
    margin-bottom: 3rem;
}

.contact-list li{
    margin-bottom: 10px;
    display: block;
}

.contact-list i{
    display: inline-block;
    color: #00b7ff;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
    margin-right: 10px;
}

.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #00b7ff;
}

.contact-icons i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00b7ff;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 1s ease;
  opacity: 0;
  transform: translateX(-40px);
}

.contact-icons i.active {
  opacity: 1;
  transform: translateX(0);
}


.contact-icons i:hover{
    background: #00b7ff;
    color: #000;
    box-shadow: 0 0 20px #00b7ff;
}


.footer{
    background: #051a44;
    color: #fff;
    text-align: center;
    padding: 1.5rem;
    margin-top: 50px; ;
    
}
  
.footer .footer-title{
    font-size: 20px;
    font-weight: 400;
}
  
.footer p{
    font-size: 16px;
    margin-top: 10px;
}
  
.footer p a{
    color: #00b7ff;
    font-weight: 500;
    text-decoration: none;
  }


@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;       
    }
    100% {
        transform: translateX(0);
        opacity: 1;       
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;       
    }
    100% {
        transform: translateX(0);
        opacity: 1;       
    }
}
@keyframes slideTop {
    0% {
        transform: translatey(-100px);
        opacity: 0;       
    }
    100% {
        transform: translatey(0);
        opacity: 1;       
    }
}
@keyframes slideBottom {
    0% {
        transform: translatey(-100px);
        opacity: 0;       
    }
    100% {
        transform: translatey(0);
        opacity: 1;       
    }
}



@media (max-width: 1024px) {

.header {
    padding: 15px 5%;
  }

.navbar a {
    margin-left: 25px;
    font-size: 18px;
  }

.home {
    padding: 100px 5% 0;
    background-position: center top;
  }

.home-content h1 {
    font-size: 42px;
  }

.home-content h3 {
    font-size: 26px;
  }

.about {
    grid-template-columns: 1fr;
    text-align: center;
  }

.about-img img {
    margin: 0 auto;
    max-width: 350px;
  }

.container1 {
    margin-left: 0;
    padding: 50px 40px;
  }

.contact {
    grid-template-columns: 1fr;
    text-align: center;
  }

.contact-text h2 {
    font-size: 40px;
  }
}


@media (max-width: 768px) {

.header {
    padding: 6px 4%; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; /
  }

.logo {
    font-size: 20px; 
  }

.navbar a {
    font-size: 14px; 
    margin: 0 8px; 
  }


.home {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding: 120px 5% 40px;
    background-position: center;
  }

.home-content h1 {
    font-size: 36px;
  }

.home-content h3 {
    font-size: 24px;
  }

.home-content p {
    font-size: 16px;
    max-width: 400px;
  }

.btn-box {
    font-size: 14px;
    padding: 10px 22px;
  }

.home-sci a {
    width: 35px;
    height: 35px;
    font-size: 16px;
  }


.about {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 40px 5%;
  }

.about-text h2 {
    font-size: 40px;
  }

.about-text h4 {
    font-size: 22px;
  }

.about-text p {
    font-size: 16px;
  }

 
.container {
    padding: 40px 5%;
  }

.sub-title {
    font-size: 40px;
    padding-bottom: 30px;
  }

.services-list {
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }


.skills-wrapper {
    flex-direction: column;
    align-items: center;
  }

.container1, .container2 {
    width: 90%;
  }

.heading1 {
    font-size: 26px;
  }

 
.portfolio-content {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  
.contact {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 40px 5%;
  }

.contact-text h2 {
    font-size: 40px;
  }

.contact-text p {
    font-size: 16px;
  }

.footer {
    font-size: 14px;
    padding: 1rem;
  }
}


@media (max-width: 480px) {

  /* ===== Header ===== */
  .header {
    padding: 8px 5%;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    font-size: 18px;
  }

  .navbar a {
    font-size: 14px;
    margin: 0 6px;
  }

  /* ===== Home ===== */
  .home {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 120px 5% 60px;
    background-size: cover;
    background-position: center top;
  }

  .home-content {
    max-width: 100%;
  }

  .home-content h1 {
    font-size: 28px;
  }

  .home-content h3 {
    font-size: 18px;
  }

  .home-content p {
    font-size: 14px;
    line-height: 1.4;
    max-width: 250px ;
  }

  .btn-box {
    padding: 8px 18px;
    font-size: 14px;
    margin-top: 15px;
  }

  .home-sci a {
    width: 32px;
    height: 32px;
    font-size: 16px;
    margin: 20px 10px 0 0;
  }


  .about {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 40px 5%;
  }

  .about-img img {
    max-width: 280px;
    margin: 0 auto;
  }

  .about-text h2 {
    font-size: 28px;
  }

  .about-text h4 {
    font-size: 18px;
  }

  .about-text p {
    font-size: 14px;
  }


  .skills-wrapper {
    flex-direction: column;
    gap: 30px;
  }

  .container1, .container2 {
    width: 100%;
    min-width: unset;
    padding: 20px;
  }

  .heading1 {
    font-size: 22px;
  }

  
  .portfolio-content {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 5%;
  }

  .row {
    flex-direction: column;
    gap: 20px;
  }

  .row img {
    width: 100%;
    border-radius: 8px;
  }

  .layer h5 {
    font-size: 16px;
  }

  .layer p {
    font-size: 13px;
  }

 
  .contact {
    padding: 40px 5%;
    text-align: center;
  }

  .contact-text h2 {
    font-size: 28px;
  }

  .contact-text p {
    font-size: 14px;
    text-align: center;
  }

  
  .footer {
    font-size: 12px;
    padding: 1rem;
  }

  .footer .footer-title {
    font-size: 16px;
  }

  .footer p {
    font-size: 14px;
  }
}


@media (max-width: 393px) {

 
  body {
    overflow-x: hidden;
  }

  .header {
    padding: 8px 5%;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    font-size: 18px;
  }

  .navbar a {
    font-size: 12px;
    margin-left: 6px;
  }

  .home {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding: 120px 5% 40px;
    height: auto;
    background-position: center top;
  }

  .home-content h1 {
    font-size: 26px;
  }

  .home-content h3 {
    font-size: 18px;
  }

  .home-content p {
    font-size: 14px;
    line-height: 1.4;
  }

  .btn-box {
    font-size: 13px;
    padding: 8px 16px;
    margin-top: 15px;
  }

  .about {
    grid-template-columns: 1fr;
    padding: 20px 5%;
    text-align: center;
  }

  .about-img img {
    width: 90%;
    margin: 0 auto;
    max-width: 300px;
  }

  .about-text h2 {
    font-size: 28px;
  }

  .about-text h4 {
    font-size: 18px;
  }

  .about-text p {
    font-size: 14px;
  }

  .services-list {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .container1, .container2 {
    width: 100%;
    min-width: auto;
    padding: 20px;
  }

  .skills-wrapper {
    flex-direction: column;
    gap: 30px;
  }

  .heading1 {
    font-size: 22px;
  }


  .portfolio-content {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 5%;
  }

  .row img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .layer h5 {
    font-size: 16px;
  }

  .layer p {
    font-size: 14px;
  }

 
  .contact {
    grid-template-columns: 1fr;
    padding: 30px 5%;
    text-align: center;
  }

  .contact-text h2 {
    font-size: 28px;
  }

  .contact-text p {
    font-size: 14px;
  }

  .contact-icons i {
    width: 35px;
    height: 35px;
    font-size: 16px;
  }

 
  .footer {
    font-size: 12px;
    padding: 0.8rem;
  }
}

html {
  scroll-behavior: smooth;
}




